@charset "UTF-8";
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 /* Variable Declarations*/ 
 html {
    /* Colors */
    --light_grey: #c1c1c1;
    /* White and black already defined */
    /* Font declarations will be done with predefined tags */ 
 }

 :root {
    margin: 0;
    padding: 0;
 }

/* Global Styles*/

body {
    margin: 0;
    padding: 0;
}

/* Text Style Declarations */
h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
}

h2 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

h3 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}
h4 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

h5 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

h6 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
}

p {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: var(--light_grey)
}

/* Global Layout Styles */

/* Navigation styling */
nav {
    align-items: center;
    display: inline-flex;
    height: 100px; 
    justify-content: space-between;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0 60px;
    position: fixed;
    z-index: 20;
    width: 100vw;
}

#navContainer {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: auto;
}

#navContainer * {
    padding-right: 40px;
}


/* Default hidden state for hamburger menu */
#hamburgerMenu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Modal menu styling */
#modalMenu {
    display: none;
    position: fixed;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#modalContent {
    background: none;
    padding: 0;
    text-align: center;
}

#modalMenu a {
    display: block;
    padding: 2px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#closeModal {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
}


/* ~ footer ~ */

footer {
    background-color: black;
    color:#c1c1c1;
    margin: 0;
    padding: 50px;
}

footer p {
    justify-self: center;
}

.footerSocials {
    align-items: center;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0 auto 100px;
    width: 50%;
}

.social {
    width: 36px;
    height: 36px;
    padding: auto;
}

.socialIcon {
    width: 35px;
}

.socialContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Responsive Sizing */

@media screen and (max-width: 1171px) {
    #navContainer * {
        font-size: 20px;
    }

}
/* Hide normal nav links on smaller screens */
@media screen and (max-width: 945px) {
    #navContainer {
        display: none;
    }
    
    #hamburgerMenu {
        display: block;
    }

    nav {
        justify-content: space-around;
    }
}

@media screen and (max-width: 500px) {
    .footerSocials {
        width: 100%;
    }
    
}
