@charset "UTF-8";
@import "global.css";

body {
    margin: 0;
    padding: 0;
}

.homeHeader {
    padding: 65px 65px 20px;
}

/* Dev Case Studies Styling */

#dev {
    padding-top: 50px;
}

#devFlexCtnr {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around; 
    padding: 0 65px; 
    width: 100vw; 
    box-sizing: border-box; 
    margin: 0;
}

.devContainer {
    width: 100%;
    padding: 0;
    justify-content: center;

}

.devContainer img {
    height: 300px;
    width: auto;
}

/* UX Case Studies Styling */


.uxContainer {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between; 
    align-items: center; 
    padding: 65px; 
    width: 100vw; 
    box-sizing: border-box; 
    margin: 0;
}

/* Specific image adjustments */
#recordcratePreview,
#bomfPreview,
#hsPreview {
    align-items: center;
    display: block;
    height: auto;
    overflow: hidden;
    width: 30%;
}
.uxContainer img {
    width: 100%;
} 

#recordcratePreview img {
    width: 60%;
}

/* Art Portion Styling */

#artFlexCont {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100vw;
    margin: 0;
}

#artFlexCont a {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    margin: 0;
}

.artContainer {
    display: inline-flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 25px;
    width:100%;
    height: 100%;

}

.artContainer * {
    width: 30%;
    height: auto;
    align-self: center;
    padding-right: 82px;
}

#pnd {
    background-color: white;
    color: black;
}

#cer {
    background-color: black;
    color: white;
}

/* About Styling */


#aboutContainer {
    padding: 0 65px 65px;
    display: inline-flex;
    justify-content: space-between;
    align-content: first baseline;
    width: auto;
}


#aboutContainer div {
    width: 50%;
    height: auto;
} 

#aboutContainer div img {
    width: 100%;
    height: auto;
}

/* Responsive styling by pixel width */

@media screen and (max-width: 878px) {
    #devFlexCtnr {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 65px;
    }

    #portImg {
        width: 100%;
        height: auto;
    }

    .artContainer {
        flex-wrap: wrap;
    }

    #artFlexCont {
        flex-wrap: wrap;
        width: 100%;
    }

    #about h5 {
        font-size: 20px;
    }
}

@media screen and (max-width: 1285px) {
    .uxContainer {
        flex-wrap: wrap;
    }

    #aboutContainer {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #aboutContainer div {
        width: 100%;
        height: auto;
    } 
    #aboutImg {
        width: 50%;
        height: auto;
    }
}

@media screen and (max-width: 1294px) {
    .artContainer h5 {
        font-size: 24px;
    }

    #artFlexCont a {
        width: 100vw;
    }

    #pnd {
        background-color: black;
        color: white;
    }

    #cer {
        background-color: white;
        color: black;
    }
}