@charset "UTF-8";
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

 /* Variable Declarations*/ 
 html {
    /* Colors */
    --light_grey: #c1c1c1;
    /* White and black already defined */
    /* Font declarations will be done with predefined tags */ 
 } 

body {
    margin: 0;
}

h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 128px;
}

h2 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

h3 {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: var(--light_grey)
}

html {
    margin: 0;
}

/* positioning image */

#cropContainer {
    height: 100vh;
    overflow: hidden;
}

#landingImage {
    aspect-ratio: 1 / 1;
    align-content: baseline;
    display: inline-flex;
    justify-content: center;
    
}

#landingImage img {
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

/* Footer Styling */

footer {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: 20;
}
#desContainer * {
    line-height: 1px;
}

#nameContainer {
    display: inline-flex;
    justify-content: space-between;
    width: auto;
    align-content: center;
}

#nameContainer * {
    padding-left: 20px;
    align-content: center;
}

h3 {
    padding-right: 20px;
}

/* Responsive Sizing */

@media screen and (max-width: 1249px) {
    body {
        background-color: black;
        color: white;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #nameContainer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1 {
        padding-bottom: 0px;
    }
    h3 {
        padding-right: 0;
        padding-bottom: 10px;
    }

    footer a {
        justify-self: center;
    }
}